body{
    font-family: 'Work Sans', sans-serif;
}
.header{
    background-image: url(images/banner/banner1.png);
    background-repeat: no-repeat;
    width: 1600px;
height: 808px;
position: relative;
margin-left: 450px;


}

.title{
   
position: absolute;
font-family: Work Sans;
font-size: 65px;
  text-align: right;
font-weight: 700;
margin-bottom: 24px;
margin: 216px 230px 0 845px;
width: 525px;
text-align: right;


}
.title-con{
    position: absolute;
    color: var(--Dark-02, #444343);
margin: 465px 230px 0 876px;
text-align: right;
font-size: 16px;

font-weight: 400;
line-height: 26px; /* 162.5% */

margin-bottom: 32px;
width: 494px;
}
.batton{
    color: #FFF;
position: absolute;
margin: 593px 255px 186px 1210px;
width: 160px;
font-size: 20px;
font-style: normal;
padding: 20px 25px;
border-radius: 5px;
background: #F15B22;
border: 0;


}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-left: 450px;
    
   

}
.flex > div{
    margin-right: 200px;
    margin-left: 100px;
}
.my{

    width: 288px;
    color: var#151414;

font-size: 40px;

font-weight: 700;

}
.con{
    width: 416px;
    color:  #444343;

font-size: 16px;

font-weight: 400;
line-height: 26px; /* 162.5% */

}
.to{
    color:  #444343;
   
    font-size: 16px;

    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.img{
    width: 451px;
height: 898px;
padding-top: 140px;

}
.of{
padding-top: 230px;

}
.flex .img, .of{
    gap: 30px;
}
.plan{
    width: 60%;
    margin: auto;
   padding: 200px 300px;
}
.plan-con{
    display: flex;
   
}
.plan-title{
    color: var #151414;

font-size: 40px;
margin-left: 350px;
font-weight: 700;
padding: 40px 47px;

}
.plan-con > div {
    margin-right: 120px;
}
.bg{
    background-image: url(images/gradient2.png),url(images/watch.png);

    width: 1140px;
height: 300px;
margin-left: 450px;
}
.aw{
    padding: 59px 617px 24px 64px;
    width: 459px;
    color: #FFF;
font-family: Work Sans;
font-size: 40px;

font-weight: 700;

}
.btn{
 padding: 21px 36px;
 margin: 0px 916px 59px 64px;
 color: #F15B22;
text-align: center;

font-size: 20px;

font-weight: 600;
border-radius: 5px;
background: #FFF;
border: 0;

}
footer{
    width: 60%;
height: 577px;
background:  #151414;
margin: 130px 200px;
padding: 100px 200px;

}
.footer-section{

}
.fu{
    color: #F8F8F8;
    

font-size: 45px;

font-weight: 700;

}
.th{
    color: #FFF;

font-size: 16px;

font-weight: 400;
line-height: 26px; /* 162.5% */
width: 485px;
}
.em{
    color: #FFF;

font-size: 16px;

font-weight: 400;
line-height: 26px; /* 162.5% */
}
.su{
    color: #FFF;

font-size: 25px;

font-weight: 600;

}
.sc{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px 36px;
    color: #F15B22;

font-size: 20px;

font-weight: 600;
margin-top: 18px;

}
.yo{
    color:  #F3F3F3;

font-size: 18px;

font-weight: 400;
padding: 21px 158px 22px 21px;
background: #151414;
border-radius: 8px;
border: 1px solid #FFF;

}
.footer-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 130px;

}
.re > a{
    margin-right: 10px;

}